<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" style="background-image:url('https://res.cloudinary.com/dtpqmjmhk/image/upload/v1612762177/AYCE2/b15547e4-b614-4c72-a0d8-d07d441fa52c_xown1c.png');">
    <div class="login-box card">
        <div class="card-body">
            <form *ngIf="formData" class="form-horizontal form-material" id="registroform" [formGroup]="formData" (ngSubmit)="registro()">
                <a href="javascript:void(0)" class="text-center db"><img src="https://res.cloudinary.com/dtpqmjmhk/image/upload/v1612762112/AYCE2/usac_v7mqws.png" style="width: 100px; height: auto;" alt="Home" /></a>
                <div class="form-group m-t-10">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" formControlName="nombre" name="nombre" placeholder="Nombre">
                        <!-- <div *ngIf="nombre && nombre.invalid && (nombre.dirty || nombre.touched)">
                            <div class="alert alert-danger" role="alert" *ngIf="nombre.errors.required">
                                El nombre es requerido
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="form-group m-t-10">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" formControlName="apellido" name="apellido" placeholder="Apellido">
                        <!-- <div *ngIf="apellido && apellido.invalid && (apellido.dirty || apellido.touched)">
                            <div class="alert alert-danger" role="alert" *ngIf="apellido.errors.required">
                                El apellido es requerido
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="form-group m-t-10">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" formControlName="edad" name="edad" placeholder="Edad">
                        <!-- <div *ngIf="celular && celular.invalid && (celular.dirty || celular.touched)">
                            <div class="alert alert-danger" role="alert" *ngIf="celular.errors.required">
                                El celular es requerido
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="form-group m-t-10">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" formControlName="peso" name="peso" placeholder="Peso">
                        <!-- <div *ngIf="inst && inst.invalid && (inst.dirty || inst.touched)">
                            <div class="alert alert-danger" role="alert" *ngIf="inst.errors.required">
                                El nit es requerido
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="form-group m-t-10">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" formControlName="est" name="est" placeholder="Estatura">
                        <!-- <div *ngIf="inst && inst.invalid && (inst.dirty || inst.touched)">
                            <div class="alert alert-danger" role="alert" *ngIf="inst.errors.required">
                                El nit es requerido
                            </div>
                        </div> -->
                    </div>
                </div>
                    <div class="form-group m-t-10">
                        <div class="col-xs-12">
                        <select class="form-select form-select-sm form-control" aria-label=".form-select-lg example" formControlName="sexo" name="sexo" >
                            <option value=""  selected disabled="disabled">Sexo</option>
                            <option value="H"  >H</option>
                            <option value="M">M</option>
                        </select>
                    </div>
                </div>
                <div class="form-group m-t-10">
                    <div class="col-xs-12">
                        <select class="form-select form-select-sm form-control" aria-label=".form-select-lg example" formControlName="tipo" name="tipo" >
                            <option value=""  selected disabled="disabled">Tipo</option>
                            <option value=1  >Atleta</option>
                            <option value=2>Coach</option>
                            
                        </select>
                     </div>
                </div>
                <div class="form-group m-t-10">
                    <div class="col-xs-12">
                        <input class="form-control" type="email" formControlName="email" name="email" placeholder="Usuario">
                        <!-- <div *ngIf="email && email.invalid && (email.dirty || email.touched)">
                            <div class="alert alert-danger" role="alert" *ngIf="email.errors.required">
                                El email es requerido
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" formControlName="password" name="password" placeholder="Contraseña">
                        <!-- <div *ngIf="password && password.invalid && (password.dirty || password.touched)">
                            <div class="alert alert-danger" role="alert" *ngIf="password.errors.required">
                                La contraseña es requerida
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-block text-uppercase btn-rounded" type="submit" [disabled]="!formData.valid">Registrarme</button>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                        <div class="social">
                            <a href="javascript:void(0)" class="btn  btn-facebook" data-toggle="tooltip" title="Login with Facebook"> <i aria-hidden="true" class="fa fa-facebook"></i> </a>
                            <a href="javascript:void(0)" class="btn btn-googleplus" data-toggle="tooltip" title="Login with Google"> <i aria-hidden="true" class="fa fa-google-plus"></i> </a>
                        </div>
                    </div>
                </div>
                <!-<div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        No tienes cuenta? <a href="pages-register2.html" class="text-primary m-l-5"><b>Crear cuenta</b></a>
                    </div>
                </div>-->
            </form>
            <form class="form-horizontal" id="recoverform" action="index.html">
                <div class="form-group ">
                    <div class="col-xs-12">
                        <h3>Recuperar contraseña</h3>
                        <p class="text-muted">Escriba su correo electrónico y siga los pasos </p>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="Email">
                    </div>
                </div>
                <div class="form-group text-center m-t-10">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
